/* --------------- VARIABLES -------------- */
:root {
    --cyan: hsl(179, 62%, 43%);
    --limon: hsl(71, 73%, 54%);
    --gris-claro: hsl(204, 43%, 93%);
    --azul-grisaceo: hsl(218, 22%, 67%);
    --cyan-claro: rgb(74,190,189);
    
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    margin: 0; 
    padding: 0;
    background: var(--gris-claro);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

main {
    background: white;
    margin: 10% 10%;
}

.container {
    padding: 50px;
}


/* -------------- MAIN CONTENT ------------- */
.main-content h1 {
    font-size: 28px;
    color: var(--cyan);
    padding-bottom: 20px;
}

.main-content h3 {
    font-size: 18px;
    color: var(--limon);
    padding-bottom: 15px;
}

.main-content p {
    font-size: 16px;
    color: var(--azul-grisaceo);
    margin: 0;
    line-height: 25px;
}


/* ------------- SECTION DOWN ---------- */
.container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background: var(--cyan);
}

.suscription {
    background: var(--cyan);
    padding: 50px;
    color: white;
    text-align: justify;
}

.suscription h2 {
    font-size: 18px;
    color: var(--gris-claro); 
    margin-bottom: 22px;
}

.dolar {
    font-size: 36px;
    font-weight: 700;
    padding-right: 10px;
}

.p-container {
    font-size: 18px;
    color: var(--gris-claro); 
    display: flex;
    align-items: center;
}

.p-space {
    color: var(--gris-claro); 
    font-size: 18px;
    margin: -8px 0 40px 0;
}

.suscription button {
    background: var(--limon);
    padding: 20px 0;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
}

.why-us {
    background: var(--cyan-claro);
    padding: 50px;   
}

.why-us h2 {
    font-size: 18px;
    padding-bottom: 6px;
    color: white;
}

.why-us p {
    line-height: 10px;
    color: var(--gris-claro); 
}


/* -------------- MEDIA QUERIES -------------------- */
@media screen and (max-width:469px) {
    .container {
        padding: 35px;
    }

    .main-content h1 {
        font-size: 20px;
    }

    .main-content h3 {
        font-size: 14px;
    }

    .main-content p {
        font-size: 12px;
        text-align: start;
    }


    .suscription {
        padding: 35px;
    }

    .suscription h2 {
        font-size: 18px;
    }

    .p-container {
        margin-top: -10px;
    }

    .p-space {
        padding-top: 4px;
    }

    .dolar {
        font-size: 26px;
    }

    .suscription p {
        font-size: 12px;
    }

    .suscription button {
        padding: 15px 0;
        margin-top: -13px;
    }


    .why-us {
        padding: 35px;
    }

    .why-us h2 {
        font-size: 18px;
    }

    .why-us p {
        font-size: 12px;
    }
}

