/* --------------- VARIABLES -------------- */
:root {
    --cyan: hsl(179, 62%, 43%);
    --limon: hsl(71, 73%, 54%);
    --gris-claro: hsl(204, 43%, 93%);
    --azul-grisaceo: hsl(218, 22%, 67%);
    --cyan-claro: rgb(74,190,189);
    
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    margin: 0; 
    padding: 0;
    background: var(--gris-claro);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

main {
    background: yellow;
    margin: 150px 300px;
}

section {
    background: pink;
}
.container {
    padding: 50px;
}


/* -------------- MAIN CONTENT ------------- */
.main-content h1 {
    font-size: 24px;
    color: var(--cyan);
}

.main-content h3 {
    font-size: 18px;
    color: var(--limon);
}

.main-content p {
    font-size: 16px;
    color: var(--gris-claro);
    margin: 0;
}


/* ------------- SECTION DOWN ---------- */
.container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: var(--cyan);

}

.suscription {
    background: var(--cyan);
    padding: 50px;
}

.title-h2 {
    font-size: 20px;
}

.dolar {
    font-size: 36px;
    font-weight: 700;
}

.suscription p {
    font-size: 16px;
}

.suscription a {
    background: var(--limon);
    padding: 20px 130px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
}

.why-us {
    background: var(--cyan-claro);
    padding: 50px;
    
}



